@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GeistMono';
  src: local('GeistMono'), url(./fonts/GeistMonoVF.woff) format('woff');
}


@font-face {
  font-family: 'Geist';
  src: local('Geist'), url(./fonts/GeistVF.woff) format('woff');
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: GeistMono;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
